<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryuu.attendanceapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AntiSkipClass"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ClassActivity" />
        <activity android:name=".ClassDetailsActivity" />
        <activity android:name=".CreateCourseActivity" />
        <activity android:name=".CourseDetails" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".acitvity_myprofile" />
        <activity android:name=".activity_edit_profile" />
        <activity android:name=".ClassList_Teacher_Activity" />
        <activity android:name=".ClassListDetails" />
        <activity android:name=".AnswerActivity">
            android:windowSoftInputMode="stateHidden|adjustPan"
        </activity>
        <activity android:name=".Reset_Password_Activity" />
    </application>

</manifest>